<header class="auth-header">
  <%= hook("omniauth.login.heading") do %>
    <h1><%= trestle_omniauth_title %></h1>
  <% end %>
</header>

<% if flash[:error] %>
  <div class="alert alert-danger">
    <p><%= flash[:error] %></p>
  </div>
<% end %>

<div class="d-grid gap-2">
  <% @providers.each do |name| %>
    <%= button_to(
          "Login with #{name.to_s.titleize}", File.join(Trestle.config.path, 'auth', name.to_s),
          class: "btn w-100 btn-primary"
        ) %>
  <% end %>
</div>
